---
import { Icon } from 'astro-icon';
import { getRelativeLink } from '~/utils/permalinks';

const social = [
	{ label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/ivangsm' },
	{ label: 'GitLab', icon: 'tabler:brand-gitlab', href: 'https://gitlab.com/ivangsm' },
	{ label: 'Twitter', icon: 'tabler:brand-twitter', href: 'https://twitter.com/ivangsm_' },
	{ label: 'Linkedin', icon: 'tabler:brand-linkedin', href: 'https://www.linkedin.com/in/ivangsm/' },
	{ label: 'RSS', icon: 'tabler:rss', href: getRelativeLink('/rss.xml') },
];
---

<footer class="border-t border-gray-200 dark:border-slate-800">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				{
					social.map(({ label, href, icon }) => (
						<li>
							<a
								class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
								aria-label={label}
								href={href}
							>
								<Icon name={icon} class="w-5 h-5" />
							</a>
						</li>
					))
				}
			</ul>

			<div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
				<span
					class="w-5 h-5 md:w-6 md:h-6 md:-mt-0.5 bg-cover mr-1.5 float-left rounded-sm bg-[url(https://cdn-icons-png.flaticon.com/512/5346/5346869.png)]"
				>
				</span>
				Made by <a class="text-blue-600 hover:underline dark:text-gray-200" href="https://onwidget.com/"> Iván Salazar</a> ·
				(CC) BY-SA
			</div>
		</div>
	</div>
</footer>
