---

---

<section>
	<div class="bg-cover bg-center mx-auto w-fullfont-sans antialiased text-gray-900 leading-normal tracking-wider" style="background-image:url('https://res.cloudinary.com/ivansalazar/image/upload/v1670474993/Iv%C3%A1n%20Salazar/clouds.webp');">
		<div class="max-w-4xl flex items-center h-auto lg:h-screen flex-wrap mx-auto my-32 lg:my-0">
    
			<figure class=" bg-white lg:rounded-xl p-8 dark:bg-slate-900 lg:dark:bg-opacity-90 lg:bg-opacity-70 bg-opacity-100 rounded-none dark:bg-opacity-100 transition-colors duration-700">
				<img class="w-64 h-64 rounded-full mx-auto" src="https://res.cloudinary.com/ivansalazar/image/upload/v1670474975/Iv%C3%A1n%20Salazar/ivan.webp" alt="" width="384" height="512">
				<div class="pt-12 pl-24 pr-24 text-center space-y-4">
				  <blockquote>
					<p class="text-2xl font-medium dark:text-white text-slate-700">
						I devote my time to mastering the art of coding and use my skills to create fantastic projects fueled by my ❤️ and a steaming cup of coffee ☕️
					</p>
				  </blockquote>
				  <figcaption class="font-semibold text-xl pt-12">
					<div class="text-sky-500 dark:text-sky-400 font-bold text-2xl">
					  Iván Salazar
					</div>
					<div class="text-slate-600 dark:text-slate-400 font-base text-md">
					  Developer, México
					</div>
				  </figcaption>
				</div>
			  </figure>
		
		</div>
	</div>
</section>
