---
import '~/assets/styles/base.css';

import MetaTags from '~/components/core/MetaTags.astro';
import BasicScripts from '~/components/core/BasicScripts.astro';
import CopyCode from '~/components/core/CopyCode.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="motion-safe:scroll-smooth 2xl:text-[20px] dark">
	<head>
		<MetaTags {...meta} />
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet preload">
	</head>

	<body class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900 dark:transition-colors dark:duration-700">
		<slot />
		<BasicScripts />
		<CopyCode />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
